


/* ---------- general styling ---------- */


body {
  margin: 0;
  font-size: 1.2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-image: url(https://thumbs.dreamstime.com/b/pokemon-silhouette-background-vector-cartoon-symbol-art-icon-play-go-sign-concept-ball-pokeball-shape-pokemon-silhouette-142907703.jpg);
z-index: -1;


}

h1 {
  font-size: 1em;
  letter-spacing: 0.1px;
  text-align: center;
  margin: 0;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  cursor: pointer;
}


img {
  width: 100%;
  height: auto;
}

/* ---------- header styling ---------- */
header {
   font-size: 4em;
color:rgb(176, 140, 230);
  text-align: center;
  text-shadow: 4px 4px 4px black;
}

/* ---------- footer styling ---------- */

footer {
  padding: 1em;
}

/* ---------- main page styling ---------- */
main {
  animation: fadeIn 0.4s;
  padding: 50px 0 0;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* ---------- grid item styling ---------- */

.grid-item {
  box-shadow: 1px 1px 8px rgba(129, 68, 68, 0.25);
  background-color: rgb(173, 145, 239);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 3px 10px 0px rgba(155, 168, 101, 0.636) inset;
}

.grid-item:hover {
  box-shadow: 0px 5px 10px 0px rgba(150, 139, 193, 0.878);

}

.grid-item img {
  width: 100%;
  height: auto;
}

.grid-item p {
  margin: 0.3em 0;
}

/* ---------- buttons in grid container ---------- */

.grid-container .btns {
  padding: 1em 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.grid-container .btns button {
  width: 100%;
}

/* ---------- form styling ---------- */
/* input form styling */
form {
  margin: 2em auto 0;
  background-color:rgb(176, 140, 230);
  text-align: center;
  
}

button {
  font-weight: 100;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  color: rgb(10, 13, 44);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 380px;
}



/* ---------- dialog styling ---------- */

form {
  margin: 0px;
}
dialog {
  border-color:rgba(168, 123, 123, 0.588);
  background-color: rgb(176, 140, 230);
  width: 45vw;
  height: 50vw;
  padding: 0.5em 0.5em;
border-radius: 30px;
margin-top: 0;

}

dialog::backdrop {
  background: rgba(196, 96, 96, 0.8);
}

.dialog-grid {
  display: grid;
  grid-template-columns: "a b";
  gap: 5px;
}

#dialog-img-div {
  border: 0px outset;
  grid-area: a;
}

#dialog-info-div {
  border: 5px black;
  grid-area: b;
}

dialog img {
  margin: 0.5em 0 1em;
  width: 200px;
}
dialog h4 {
  margin-bottom: 0;
}
dialog ul {
  margin: 0.5em 0 1em;
  padding-inline-start: 1.5em;
}
dialog p {
  margin: 0.5em 0 1em;
}
